@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}


/* footer  */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec {
    margin-right: -40px;
    margin-left: 45px;
}

.footer-container .sec.aboutus {
    width: 40%;
}

.footer-container h2 {
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

.footer-container h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(77, 228, 255);
}

footer p {
    color: #999;
    margin-right: 200px;
}

.quicklinks {
    position: relative;
    width: 25%;
}

.quicklinks ul li {
    list-style: none;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-container .contactBx {
    width: calc(22% - 68px);
    margin-right: 0 !important;
}

.contactBx .info {
    position: relative;
}

.contactBx .info li {
    display: flex !important;
    margin-bottom: 16px;
}

.info li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.34s ease-in;
}

.info li a:hover {
    transform: translateY(-5px);
    background: rgb(77, 228, 255);
    color: #8300b6;
}

.info i a .bx {
    color: #fff;
    font-size: 20px;
}

hr {
    width: 110%;
}

.footerline {
    color: white;
    text-align: center;
}